<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Application language: {{ appLanguage.name | translate }}!
  </h1>
  Change app language:
  <select (change)="switchLanguage($event)">
    <option *ngFor="let language of availableLanguages" [value]="language.code">
      {{ language.name | uppercase }}
    </option>
  </select>
</div>
<a mat-raised-button color="primary" [routerLink]="'/login'">Go to login page</a>
<a mat-raised-button color="primary" [routerLink]="'/layout'">Go to layout page</a>
<router-outlet></router-outlet>